@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
font-family: 'Lato', Calibri, Arial, sans-serif;
/*font-family: 'Noto',Verdana,Helvetica,sans-serif;*/
	font-size: 100%;
	color: #4a4a4a;
	height: 100%;
	margin: 0 auto;
	
		
}

.js body {
	overflow: hidden;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #2c3e50;
	width: 140px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.1em;
	padding: 20px;
	font-weight:500;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #2c3e50;
	border-bottom: 1px solid #e67e22;
}

.menu-toc li a:hover
{
	background: #d35400;

}
.menu-toc li.menu-toc-current a{
	background: #e67e22;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	background-color: #e67e22;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #2c3e50;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h1 {
	font-weight: 300;
	font-size: 2.3em;
	padding: 0px;
	color: #333;
	margin: 0 0px 30px;
	text-align: left;
	box-shadow: 0 5px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}
.content h2 {
	font-weight: 300;
	font-size:1.8em;
	padding: 0px;
	color: #333;
	margin: 10px 0px 10px 0px;
	text-align: left;
	text-shadow: 0 0 2px #eaeaea;
}

.content h3 {
	font-size:1.5em;
	font-weight: 400;
	margin:10px 0px 10px;
	}

.content h4 {
	font-size:1.3em;
	font-weight: 300;
	border-bottom:1px solid #eaeaea;
	width: 70%;
	padding:25px 0px 10px 0px;
	
	}
	
.content h5 {
	font-size:1.1em;
	font-weight: 400;
	margin: 25px 0px 5px 0px;
	border-left:6px solid #999;
	padding-left:10px;
	
	}

.content h6 {
	font-size:1em;
	font-weight:500;
	margin:10px 0px;
	text-decoration:underline;
	
	}


.question {background-image:url(../images/question-bubble.png); }
.attention {background-image:url(../images/attention-bubble.png);	}

.question, .attention { /*for headers*/
	background-position:left 0px top 0px;
	background-repeat: no-repeat;
 	background-size:40px ;
	margin-top:15px;
	padding:20px 0px 10px 40px;
	
	
}

#img {
	/*float: left;*/
	width:60%;
	padding:10px;
	margin:10px 30px 20px 0px;
	border:1px solid #eaeaea;
	
}

.content img {
	width:100%;
	border:0px;
	margin-bottom:10px;
	

}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	padding: 10px 0px;
	text-align:justify;
	
}

.title {
	font-weight:bold;
	font-size:110%;
}


.content ul li, ol li {
	padding:5px;
	margin-left:20px;
	
}

.java {
	font-family: monospace;
	padding: 5px 0px;
	margin-left:5px;
		
}


.content ul > li > ul > li {
    list-style:circle;
	margin-left:50px;
}

.content ol > li > ol > li {
	margin-left:40px;
}


.content a {
	color:#0099FF;
	text-decoration:none;
		
}

.content a:hover {
	color:#0099FF;
	text-decoration:underline;
	font-style:italic;
		
}

.content_bullet_box {
	width:70%;
	padding:10px 5px;
	margin: 20px 0px 10px 0px;
	border-left:4px solid #d35400;
list-style-position:inside;
background-color: rgba(234, 234, 234, .3);
	
	}
	
.objectifs_box h3 {
	color:#d35400;
	font-size:1.4em;
	font-weight: 400;
	margin-left:10px;
		
	}	
	
.content_bullet_box ul li {
	width:70%;
	padding:10px 0px;
	margin-left:30px;
			
	}
.content_links_box {
	width:70%;
	padding:20px ;
	border:1px solid #eaeaea;
	list-style-position:inside;
	
	}

.prettyprint {
	margin:10px 0px;
	width:90%;
	overflow:hidden;
	padding:5px;
	}
	
blockquote {
	margin: -10px 0px 10px 60px;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}
